.wrapper {
    background: url(../images/backround.svg) no-repeat center; 
    background-size: cover;
    width: 100vw;
    height: 100vh;
    font-family: "Ubuntu";
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding: 1rem 6vw;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
}

.main-logo {
    font-size: 1.375rem;
    font-weight: 700;
    color: white;
    text-decoration: none;
    transition: all 0.15s;
}

.main-logo:hover {
    color: #01813F;
}

.emoji-box {
    display: flex;
    position: relative;
    column-gap: 1.5rem;
    align-items: center;
    margin-right: 3.3rem;
}

.emoji-box::after {
    position: absolute;
    content: "";
    background: url("../images/line.svg") no-repeat center;
    width: 1px;
    height: 19px;
    right: -26px;
}

.emoji-link:hover {
    filter: invert(22%) sepia(94%) saturate(1000%) hue-rotate(110deg) brightness(50%) contrast(150%);
}

.line-between-box
{
    display: flex;
    align-items: center;
}

.log-sign-p,
.log-sign-p>a {
    font-size: 0.875rem;
    color: white;
    text-decoration: none;
    transition: all 0.15s;
}

.log-sign-p>a:hover {
    color: #01813F;
}

.sign-up-form {
    position: relative;
    margin: 15vh auto;
    display: flex;
    flex-direction: column;
    padding: 2rem 3.75rem;
    max-width: 20rem;
    background-color: white;
    font-size: 0.875rem;
}

.sign-up-form:before {
    content: "";
    position: absolute;
    background: url("../images/sqr.svg") no-repeat center;
    background-color: #3CB878;
    width: 18px;
    height: 18px;
    left: 0;
    top: 2rem;
}

.log-sigh-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.log-sigh-container>p{
    font-size: 1.25rem;
    color: #434343;
}

.log-sigh-container>a{
    text-decoration: none;
    color: #3CB878;
    transition: all 0.15s;
}

.log-sigh-container>a:hover {
    text-decoration: underline 1px #01813F;
    color: #01813F;
}

.buttons {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.hr-text {
    margin: 2rem 0 0.8rem;
    height: 1px;
    border: none;
    background-color: #F2F2F2;
    overflow: visible;
    text-align: center;
}

.hr-text::before {
    content: "or";
    font-size: 0.875rem;
    color: #848484;
    background-color: white;
    position: relative;
    top: -0.5rem;
    padding: 0 5px;
}

.social-button {
    display: inline-flex;
    position: relative;
    padding-left: 0.9rem;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    flex: 1;
    height: 2.875rem;
    border-radius: 3px;
    align-items: center;
    transition: all 0.15s;
}

.social-button::after {
    position: absolute;
    content: "";
    background: url("../images/rect.svg") no-repeat center;
    width: 1px;
    height: 28px;
    left: 3rem;
}

.social-img {
    margin-right: 2.35rem;
}

.facebook-button {
    background-color:#305DB8;
}

.facebook-button:hover {
    background-color:#022263;
}

.facebook-button::after {
    background-color: #0A162F10;
}

.google-button {
    background-color: #DF4A32;
}

.google-button:hover {
    background-color:#AB1F09;
}

.google-button::after {
    background-color: #2B0D0910;
}

.input-form {
    padding-left: 1.2rem;
    margin-bottom: 1rem;
    height: 2.75rem;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    background-color: white;
    transition: all 0.2s;
}

.input-form::placeholder {
    color: #BEBEBE;
}

.input-form:focus {
    outline: none;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.7);
}

.checkbox-container {
    display: block;
    position: relative;
    padding-left: 1.8rem;
}
  
.checkbox-container input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}
  
.checkmark {
    position: absolute;
    top: -4px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: white;
    border: 1px solid #F2F2F2;
}

.checkmark::after {
    content: "";
    position: absolute;
    display: none;
}
  
.checkbox-container input:checked ~ .checkmark::after {
    display: block;
}
  
.checkmark::after {
    left: 5.5px;
    width: 7px;
    height: 15px;
    border: solid green;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.terms-cond-link {
    color: #3CB878;
    text-decoration: none;
    transition: all 0.15s;
}

.terms-cond-link:hover {
    color: #01813F;
    text-decoration: underline 1px #01813F;
    text-underline-offset: 0.2rem;
}

.create-account {
    border-radius: 4px;
    border: none;
    color: white;
    background-color: #3CB87880;
    font-size: 1rem;
    padding: 1rem 0;
    margin-top: 1.2rem;
    transition: all 0.15s;
}

.create-account:hover {
    background-color: #01813F;
}